/*Navigation bar*/
body{
    width:100%;
}

.main-navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding : 0 5%;
    background: rgb(255, 255, 255);
    box-shadow :0 5px 15px rgba(0,0,0,0.06);
    font-family :'Roboto',sans-serif;
    z-index :999;
    position: sticky;
    top:0;
    left: 0;
}

h1{
    color :var(--color-black);
    font-size :30px;
}

.main-navbar ul{
    list-style: none;
    display: flex;
    color: white;
}


.main-navbar ul li{
    padding :10px 30px;
}

.main-navbar ul li a{
    color:rgb(0, 0, 0);
    text-decoration: none;
    font-size: 20px;
}
.navbar-drop{
    display :none;
}
#navbar li a:hover .navbar-drop{
    display :block;
    position :absolute;
    top:100%;
    background-color:var(--color-black);
}

.navbar-drop ul li{
    width:150px;
    padding:10px;
}