body{
    width : 100%;
}

/*Promotion Section*/
.main-shop-container{
    height : 65vh;
    padding : 0 125px;
    margin :10px;
    background :linear-gradient(to left, rgb(0, 191, 255),rgb(191, 0, 208));
    color : rgb(255, 255, 255);
    font-family :'Roboto',sans-serif;
    display :flex;
    flex-direction: column;
    justify-content: center;
    transform: translate(-0.55%, 5%);
    
}

.main-shop-container h2{
    font-size: 60px;
    font-weight: bold;
    
}

.main-shop-container a{
    text-decoration: none;
}

.main-shop-container button{
    background-color: rgb(0, 191, 255);
    color: rgb(255, 255, 255);
    border:none;
    padding :14px 80px ;
    cursor: pointer;
    width: 20%;
    font-weight: 700;
    font-size: 15px;
    border-radius: 20px;
    text-decoration: none;
    
}

.main-shop-container button:hover{
    background-color: rgb(255, 255, 255);
    color: black;
}

/*Feature Section*/
.feature-container{
    height : 70vh;
    padding : 10px 125px;
    padding-top: 5%;
    margin :10px;
    max-width: 100%;
    background :linear-gradient(to left, rgb(0, 191, 255),rgb(191, 0, 208));
    color : rgb(255, 255, 255);
    font-family :'Roboto',sans-serif;
    display :flex;
    flex-direction: column;
    align-items : flex-start;
    display: block;
    justify-content: center;
    transform: translate(-0.55%, 1%);
    
}

.feature-container h2{
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}

.col-1{
    float:left;
    width: 33%;
    flex-basis: 30%;
    padding :10px;
    max-width: 30%;
    margin-bottom :50px;
    transition: transform 0.5s;
    text-align: center;
}

.col-1:after {
    content: "";
    display: table;
    clear: both;
}

.col-1:hover{
    transform: translateY(-8px);
}

.col-1 img{
    float: left;
    width: 95%;
    padding: 10px;
}


/* phone viewport*/
@media only screen and (max-width: 768px) {

    .main-shop-container button {
        padding: 12px 50px;
        width: 35%;
    }

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    }

 }

 .feature-container{
    padding :20px;
 }
 .col-1 img{
    display: flex;
    
}


@media only screen and (max-width: 376px) {
   

    .main-shop-container h2{
        font-size: 50px;
        margin-left: -50px;
        
    }
    .main-shop-container button{
        padding :15px 40px ;
        width: 100%;
    }

    .col-1 img{
        width: 150%;
    }
    .col-1{
        width: 100%;
        padding :10px;
        max-width: 50%;
        margin-bottom :20px;
        margin-left: -10px;
    }
    
    .feature-container{
        overflow-y: auto;
        justify-content: center;
        
    }

}
