.page-container{
 text-align:center;
 font-family :'Roboto',sans-serif;
 margin: 5% 0;

}

.page-container h2{
    font-size: 36px;
   
}

.page-container p{
    font-size: 22px;
   
}
     
.page-container2{
    text-align:center;
    font-family :'Roboto',sans-serif;
    margin: 5% 0;
    font-size: 22px;
}

.search-bar{
    margin-bottom: 1.7%;
    padding: 1%;
    width: 50%;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 10px;
    background-color: #E8E9EB;
}

/*Product display box*/
.product-container{
    text-align:center;
    font-family :'Roboto',sans-serif;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    column-gap: 3%;
    margin: 0 5%;
}

.product-box{
    width :20%;
    min-width :250px;
    padding :15px 20px;
    border: 1px solid black;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgb(210, 210, 210);
    margin :15px 0;
    transition: 0.2s ease;
    position: relative;
    background-color: white;

}
.product-box:hover{
    box-shadow: 20px 20px 30px rgb(210, 210, 210);
}
.product-box img{
    width: 100%;
    border-radius: 20px;
}

.product-box button{
    background-color: rgb(40, 140, 222);
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: 'Roboto',sans-serif;
    font-size: 14px;
    font-weight: 500;
    height: 40px;
    line-height: 20px;
    margin: 0;
    outline: none;
    padding: 10px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
}

.product-box button:hover{
  background-color: rgb(191, 0, 249);
  color: black;
}

.product-detail{
    text-align: center;
    padding :10px 0;
}

.product-detail h4{
    padding-top: 5px;
    font-size: 18px;
    color: black;
}

.product-detail p{
    padding-top: 7px;
    font-size: 16px;
    color: rgb(126, 126, 126);
}

